<% set_title "#{@tenant.name}", prefix: "Edit ", suffix: " Company"%>

<% set_width(6, 10) %>

<%= form_for @tenant do |f| %>

	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, :class => "form-control" %>
	</div>
	
	<%= f.submit :class => "btn btn-primary" %>
	<%= link_to 'Cancel', tenants_path, :class => "btn btn-default" %>

<% end %>
