<% set_title "Edit #{@tenant.name}"%>

<h2>Edit Company</h2>
	
	<%= form_for @tenant do |f| %>

		<p><%= f.label :name %></p>
		<p><%= f.text_field :name %></p>

		<%= f.submit 'Update', :class => 'btn btn-primary' %>
		<%= link_to 'Cancel', tenant_path(@tenant.id), :class => "btn" %>
	
	<% end %>