<% provide(:title, 'User Role list') %>

<% content_for :thead do %>

<h2><%= current_tenant.name %> : <%= @role %></h2>

	<tr>
		<th>User</th>
		<th>Company</th>
		<th>Role</th>
		<th></th>
	</tr>
<% end %>

<% content_for :table do %>
	
	<% @memberships.each do |m| %>
		<tr>
			<td><%= m.user.email %></td>
			<td><%= m.tenant.name %></td>
			<td><%= m.role %></td>
			<td><%= link_to "Change Role", edit_membership_path(m.id) %></td>
		</tr>
	<% end %>

<% end %>

<% content_for :footer do %>
	<%= link_to "Add new", new_membership_path, :class => "btn btn-primary" %>
<% end %>	