<nav class="navbar navbar-inverse navbar-fixed-top">

  <div class="navbar-header">
       
    <%= link_to(image_tag("icons/factory_white.svg", :alt=>"Factory", :size=>"33x30", :alt => "Main", :id => "factory"), "/") %>
    
    <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  </div> 
  
  
  <div class="navbar-collapse collapse"> 
  
    <ul class="nav navbar-nav navbar-left">
      <%= render 'layouts/menu/display' %>
      <%= render 'layouts/menu/nav_items' %>
    </ul>
        
    <ul class="nav navbar-nav navbar-right">
      <li>    
        <%= link_to 'Admin <b class="caret caret-header"></b>'.html_safe, root_path, :id => 'dLabel', :'data-toggle' => 'dropdown', :class => 'dropdown-toggle' %>        
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">        
          <%= render 'layouts/menu/tenant_items' %>
          <%= render 'devise/menu/registration_items' %>        
        </ul>
      </li>
    </ul>
            
    <ul class="nav navbar-nav navbar-right">
      <li><%= render 'devise/menu/login_items' %></li>
    </ul>          
  </div>

</nav>
