<!--! rendering list_layout -->
<div class="col-lg-<%= @lg_width %> col-md-<%= @md_width %>">

	<!-- yield to index:controls -->
  
	<div><%= yield :controls %></div>
					
	<!-- for larger formats... -->
	<div class="hidden-xs hidden-sm">
		
		<% unless list.blank? %>
			<%= will_paginate list, :renderer => BootstrapPagination::Rails %>
		<% end %>
		
		<!-- yield to index:thead, index:table -->
		<table class="table table-striped table-bordered table-condensed table-responsive">
			<thead>
				<%= yield :thead %>
			</thead>
			<tbody>
				<%= yield :table %>
			</tbody>
		</table>

		
		<% unless list.blank? %>
			<%= will_paginate list, :renderer => BootstrapPagination::Rails %>
		<% end %>
	
	</div>

</div>

<!-- for smaller formats... -->
<!-- yield to index:multi_view -->
<div class="hidden-md hidden-lg">
	<%= yield :multi_view %>
</div>

<!--! rendered list_layout -->