<!--! rendering table_layout -->
<!-- yield to index:controls -->
<div><%= yield :controls %></div>

<!-- for larger formats... -->
<div class="<%= @hidden_sm %>">
	<% unless index.blank? %>
		<%= will_paginate index, :renderer => BootstrapPagination::Rails %>
	<% end %>

	<!-- yield to index:thead, index:table -->
	<table class="table table-striped table-bordered table-condensed table-responsive">
		<thead>
			<%= yield :thead %>
		</thead>
		<tbody id="sortable" data-update-url="<%= @sortable_url %>">
			<%= yield :table %>
		</tbody>
	</table>

	<% unless index.blank? %>
		<%= will_paginate index, :renderer => BootstrapPagination::Rails %>
	<% end %>
</div>

<!-- for smaller formats... -->
<!-- yield to index:multi_view -->
<% if @liquid %>
	<div class="<%= @hidden_lg %>">
		<%= yield :multi_view %>
	</div> 
<% end %>