<% set_title "Edit #{@trait.code}"%>

<div class="row top-space">
	<div class="col-xs-12 col-sm-8 col-md-3 col-lg-2">
		<%= form_for(@trait) do |f| %>
			<%= render 'layouts/body/errors', :index => @trait %>

			<div class="form-group">
				<%=f.label :code %>
				<%= f.text_field :code, :class => "form-control" %>
			</div>
			<div class="form-group">				
				<%=f.label :name, "Definition Name" %>
				<%= f.text_field :name, :class => "form-control" %>
			</div>
			<div class="form-group">
				<%=f.label :category_id %>
				<%= f.collection_select :category_id, @categories, :id, :code, {:include_blank => "Please select"}, :class => "form-control" %>
			</div>
			<div class="form-group">
				<%=f.label :label %>
				<%= f.text_field :label, :class => "form-control" %>
			</div>
			<div class="form-group">
				<%=f.label :display_order %>
				<%= f.number_field :display_order, :class => "form-control" %>
			</div>

			<div class="form-group">
				<%= f.submit "Submit Changes" %>
				<%= f.submit "Cancel" %>
			</div>
				
		<% end %>
	</div>
</div>

