<% set_title "Traits"%>

<% set_width(12, 12) %>

<% content_for :thead do %>
	
		<tr>
			<th class="col-md-2">Category</th>
			<th class="col-md-2">Trait Code</th>
			<th class="col-md-3">Trait Name</th>
			<th class="col-md-3">Label</th>
			<th class="col-md-1"></th>
			<th class="col-md-1 center-block">						
				<%= link_to raw('<div class="glyphicon glyphicon-trash"></div>'), "#", :onclick => "$('.bulk_delete').submit()" %>				
			</th>
		</tr>
	
<% end %>
		
<% content_for :table do %>
	
	<tr>
		<%= render 'new' %>
	</tr>

	<%= form_tag bulk_delete_traits_path, :method => :bulk_delete, :class => "bulk_delete" do %>
		<% @traits.each do |t| %>
			<%= content_tag_for(:tr, t, class: "sortable") do %>
				<td><%= t.category_id  ? t.category.code : nil %></td>
				<td><%= t.code %></td>
				<td><%= t.name %></td>
				<td><%= t.label %></td>
				<td><div class="center-block"><%= link_to "Edit", edit_trait_path(t) %></div></td>
				<td><div class="center-block"><%= check_box_tag "deletions[]", t.id %></div></td>
			<% end %>
		<% end %>
	<% end %>
	
<% end %>

<% content_for :multi_view do %>
	<% @traits.each do |t| %>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">				
					<strong class="panel-title text-muted"><%= t.code %></strong>
				</div>

				<div class="panel-body">						
					<div>
						<p class="text-muted col-xs-5">Name</p>
						<h4 class="col-xs-7"><%= t.name %></h4>
					</div>
				</div>
				<div class="panel-footer">
					
						<%= link_to "Edit", edit_item_path(t), :class => "btn btn-primary" %>
						
				</div>
				
			</div>
		</div>
	<% end %>
<% end %>