<%= form_for @analysis do |f| %>
	<div>
		<div>
			<td><%= f.text_field :code, :autofocus => true, :class => "form-control input-sm" %></td>
			<td><%= f.text_field :name, :class => "form-control input-sm" %></td>
			<td><%= f.text_area :instructions, :rows => "1", :class => "form-control input-sm" %></td>
			<td class="centered"><%= f.submit "Add Analysis" %></td>
		</div>
	</div>
<% end %>