<%= form_for @analysis do |f| %>
	<div class="form-group">
		<td><%= f.text_field :code, :autofocus => true, :class => "form-control input-sm" %></td>
		<td><%= f.text_field :name, :class => "form-control input-sm" %></td>
		<td><%= f.text_area :instructions, :rows => "1", :class => "form-control input-sm" %></td>
		<td><%= f.submit "Add Analysis", :class => "btn btn-default btn-sm" %></td>
	</div>
<% end %>