<% set_title "Analyses" %>

<% set_width(10, 12) %>

<% content_for :thead do %>
	<tr>
		<th>Code</th>
		<th>Name</th>
		<th>Instructions</th>
		<th></th>
	</tr>
<% end %>

<% content_for :table do %>
	<tr>
		<%=  render 'new' %>
	</tr>			
	<% @analyses.each do |t| %>
		<tr>
			<td><%= t.code %></td>
			<td><%= t.name %></td>
			<td><%= link_to "Instructions", :controller => 'analyses', :action => 'instructions', :id => t.id %></td>
			<td>
				<%= link_to "Edit", edit_analysis_path(t), :class => "pull-left" %>
				<%= link_to "Delete", t, :method => :delete, :confirm => "Delete Analysis #{t.code}", :class => "pull-right" %>
			</td>
		</tr>
	<% end %>
<% end %>

<% content_for :multi_view do %>
	<% @analyses.each do |a| %>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">				
					<strong class="panel-title text-muted"><%= a.code %></strong>
				</div>

				<div class="panel-body">						
					<div>
						<p class="text-muted col-xs-5">Name</p>
						<h4 class="col-xs-7"><%= a.name %></h4>
					</div>
				</div>
				<div class="panel-footer">
					<div class="btn-group">
						<%= link_to "Instructions", :action => 'instructions', :id => a.id %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
<% end %>
