<% set_title "#{@specification.item.code}:#{@specification.property.code}", prefix: "Edit ", suffix: " Specification" %>
	
<% set_width(6, 10) %>

<%= form_for(@new_specification) do |f| %>
	<%= render 'layouts/body/errors', :index => @new_specification %>				
	<%= f.hidden_field :item_id %>
	<%= f.hidden_field :property_id %>
	<%= f.hidden_field :version %>
	<div class="form-group">
		<%= f.label "Text" %>
		<%= f.text_field :string_value, :class => "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label "Value" %>
		<%= f.text_field :numeric_value, :class => "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label "USL" %>
		<%= f.text_field :usl, :class => "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label "LSL" %>
		<%= f.text_field :lsl, :class => "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label "UOM" %>
		<%= f.text_field :unit_of_measure, :class => "form-control" %>
	</div>
	<div class="form-group">				
		<%= f.label "analysis" %>				
		<%= f.collection_select :analysis_id, Analysis.order('code'), :id, :code, :prompt => true, :include_blank => true, :class => "form-control" %>
	</div>					
	<div class="form-group">			
		<%= f.label "Effective Date of Edit" %>
		<%= f.text_field :eff_date, 'data-behaviour' => 'datepicker', :class => "form-control" %>
	</div>
	<div class="form-group">
		<%= f.submit "Update Item Spec", :class => "btn btn-primary" %>
		<%= link_to 'Cancel', specifications_path(@new_specification.item_id), :class => "btn btn-default" %>
	</div>
<% end %>	


