<% set_title "Item Specifications" %>
<% set_width 12, 12, true %>
<% content_for :controls do %>

	<div class="bottom-space">
		<%= form_tag(specifications_path, :method => :get, :class => "form-inline") do %>
			<div class="form-group">
				<div class="btn-group">
					<%= radio_button_tag :list_for, "item", @list_for_an_item,  {:onchange => "this.form.submit();"} %>
					<%= label_tag :list_for_item, "For an Item" %>
					<%= radio_button_tag :list_for, "property", @list_for_a_property, {:onchange => "this.form.submit();"} %>
					<%= label_tag :list_for_property, "For a Property"  %>
				</div>

				<% if @list_for_an_item %>					
					<%= collection_select :specification, :item_id, @items, :id, :code, {:selected => @item.id }, {:onchange => "this.form.submit();", :class => "form-control inline-select"} %>					
				<% else %>
					<%= collection_select :specification, :property_id, @properties, :id, :code, {:selected => @property.id}, {:onchange => "this.form.submit();", :class => "form-control inline-select"} %>
				<% end %>

				<strong class="form-group left-space strong">
					Show:
				</strong>
				
				<div class="form-group left-space">
					<%= label_tag 'show_pending', :class => "checkbox" do %>
						<%= check_box_tag name = "show_pending", value = "1", checked = @pending, {:type => "checkbox", :onchange => "this.form.submit();"} %>
						Pending
					<% end %>
				</div>

				<div class="form-group left-space">
					<%= label_tag 'show_history', :class => "checkbox" do %>				
						<%= check_box_tag name = "show_history", value = "1", checked = @history, {:type => "checkbox", :onchange => "this.form.submit();"} %>
						History
					<% end %>
				</div>

				<div class="form-group left-space">
					<%= label_tag 'show_deleted', :class => "checkbox" do %>				
						<%= check_box_tag name = "show_deleted", value = "1", checked = @deleted, {:type => "checkbox", :onchange => "this.form.submit();"} %>
						Deleted
					<% end %>
				</div>

				<div class="form-group left-space">						
					<%= link_to new_import_specifications_path, :title => 'Import CSV', :rel => 'tooltip', "data-placement" => "top" do  %>
						<i class="glyphicon glyphicon-upload"></i>
					<% end %>		
				</div>				
			</div>
		<% end %>
	</div>
<% end %>

<% content_for :thead do %>
	<div>
		<% if !@list_for_a_property %>				
			<th>Category</th>
			<th class="col-md-2"> Property</th>
		<% else %>
			<th>Item Code</th>
			<th class="col-xs-2">Name</th>
		<% end %>	
		<th class="col-xs-1 col-md-2">Text</th>		
		<th>Value</th>
		<th>USL</th>
		<th>LSL</th>
		<th>UOM</th>		
		<th class="col-lg-1 hidden-md">Analysis</th>		
		<th class="col-md-1 col-lg-1">Eff Dt</th>	
		<th class="hidden-md">Status</th>		
		<th class="hidden-md col-lg-1">Edited By</th>
		<th class="col-xs-2"></th>
	</div>
<% end %>


<% if @item %>
	<!-- pass to index the collection for the loop -->		
	<% content_for :table do %>
		<%= render "specifications/body/new" %>
		<%= render :partial => "specifications/body/index", :collection => @specifications, :as => :specification %>
	<% end %>

	<!-- pass to multi_view the collection for the loop -->
	<% content_for :multi_view do %>
		<div class="bottom-space">	
			<%= link_to "Add New Specification", new_specification_path, :class => "btn btn-default" %>	
		</div>
		<%= render :partial => "specifications/body/multi_view", :collection => @specifications, :as => :specification %>	
	<% end %>
<% end %>

