<% set_title "New Specification" %>

<div class="row top-space">
	<% if !@list_by_trait %>
		<strong>Item Code: <%= @item.code %></strong>
	<% else %>
		<strong>Trait Code: <%= @trait.code %></strong>
	<% end %>
	<div class="top-space"></div>

	<%= form_for (@new_specification), :role => "form" do |f| %>
		<%= render 'layouts/body/errors', :index => @new_specification %>

		<% if !@list_by_trait %>
			<%= f.hidden_field :item_id, :value => @item_id %>
			<%= f.hidden_field :version %>
			<div class="form-group">
		    <%= f.label "Trait" %>
				<%= f.collection_select :trait_id, @available_traits, :id, :code, {:prompt => :true}, {:class => "form-control"} %>
	  	</div>
	  <% else %>
			<%= f.hidden_field :trait_id, :value => @trait_id %>
			<%= f.hidden_field :version %>
			<div class="form-group">
		    <%= f.label "Item" %>
				<%= f.collection_select :item_id, @available_items, :id, :code, {:prompt => :true}, {:class => "form-control"} %>
			</div>
	  <% end %>

		<div class="form-group">
	    <%= f.label "Text" %>
			<%= f.text_field :string_value, :class => "form-control" %>
  	</div>
  	<div class="form-group">
	    <%= f.label "Numeric Value" %>
			<%= f.text_field :numeric_value, :class => "form-control" %>
  	</div>
  	<div class="form-group">
	    <%= f.label "USL" %>
			<%= f.text_field :usl, :class => "form-control" %>
  	</div>
  	<div class="form-group">
	    <%= f.label "LSL" %>
			<%= f.text_field :lsl, :class => "form-control" %>
  	</div>
  	<div class="form-group">
	    <%= f.label "Unit of Measure" %>
			<%= f.text_field :unit_of_measure, :class => "form-control" %>
  	</div>
  	<div class="form-group">
	    <%= f.label "Analysis" %>
			<%= f.collection_select :analysis_id, Analysis.all, :id, :code, {:prompt => :true}, {:class => "form-control"} %>
  	</div>  	
  	<div class="form-group">
	    <%= f.label "Effective Date" %>
			<%= f.text_field :eff_date, 'data-behaviour' => 'datepicker', :class => "form-control" %>
  	</div>
  	<%= f.submit "Add Specification" %>
  <% end %>
</div>
