<% set_title "#{@specification.item.code}:#{@specification.trait.code}", prefix: "Notes for " %>

<% set_width(6, 10) %>

<%= form_for(@specification) do |f| %>
	<div class="form-group">		
		<%= f.label "Notes" %>
		<%= f.text_area :notes, :class => "form-control" %>
	</div>
	
	<div class="actions">
		<%= f.submit "Update Notes", :class => "btn btn-primary" %>
		<%= link_to 'Cancel', specifications_path(@specification.item_id), :class => "btn btn-default" %>
	</div>
<% end %>	
