	<table class="table table-bordered table-hover display">
		
			<thead class="display-header">
				<tr>
					<th class="category-name display">Category</th>
					<th class="display">Specification</th>
					<th class="display">Lower Limit</th>
					<th class="align_center display">Target</th>
					<th class="align_right display">Upper Limit</th>
					<th class="align_center display">Notes</th>
				</tr>
			</thead>
			<% if @categories %>
				<% @categories.each do |category, item_specs| %>					
					<tbody>
						<% first_row = true %>										
						<% for s in item_specs %>	
							<% if s.date_status == "current" %>
								<tr class="display-row">
									<% if first_row %>
										<% first_row = false %>
										<td class="category-name display">
											<%= category.name if category %>
										</td>
									<% else %>
										<td class="display"></td>
									<% end %>

									<td class="spec-name bold display"><%= s.spec.name %></td>

									<td class="display"><%= s.lsl ||= nil %></td>

									<td class="align_center bold display">
										
										<% if s.numeric_value %>								
											<%= "#{s.numeric_value} #{s.unit_of_measure}" %>
										<% end %>

										<% if !s.string_value.empty? %>
											<%= s.string_value %>
										<% end %>

										<% if !s.text_value.empty? %>
											<%= s.text_value %>								
										<% end %>

									</td>

									<td class="align_right display"><%= s.usl ||= nil %></td>								

									<td class="right-margin display"><%= simple_format(s.notes ||= "") %></td>
									
								</tr>										
							<% end %>	
						<% end %>
					</tbody>
				<% end %>
			<% end %>
		
	</table> <!--! end of table -->




