

	<table class="table table-bordered table-striped table-hover">
		
			<thead id="display_header">
				<tr>
					<th class="category-name">Category</th>
					<th>Specification</th>
					<th>Lower Limit</th>
					<th class="align_center">Target</th>
					<th class="align_right">Upper Limit</th>
					<th class="align_center">Notes</th>
				</tr>
			</thead>
			<% if @categories %>
				<% @categories.each do |category, item_specs| %>

					<% r = 0 %>
					<% for s in item_specs %>	
						<% r = r + 1 %>
					<% end %>
					
					<tbody>
						<% first_row = true %>										
						<% for s in item_specs %>	
							<% if s.date_status == "current" %>
								<tr>
									<% if first_row %>
										<% first_row = false %>
										<td rowspan="<%= r %>" class="category-name">
											<%= category.name if category %>
										</td>
									<% end %>

									<td class="spec-name bold"><%= s.spec.name %></td>

									<td><%= s.lsl ||= nil %></td>

									<td class="align_center bold">
										
										<% if s.numeric_value %>								
											<%= "#{s.numeric_value} #{s.unit_of_measure}" %>
										<% end %>

										<% if !s.string_value.empty? %>
											<%= s.string_value %>
										<% end %>

										<% if !s.text_value.empty? %>
											<%= s.text_value %>								
										<% end %>

									</td>

									<td class="align_right"><%= s.usl ||= nil %></td>								

									<td class="right-margin"><%= simple_format(s.notes ||= "") %></td>
									
								</tr>										
							<% end %>	
						<% end %>
					</tbody>
				<% end %>
			<% end %>
		
	</table> <!--! end of table -->




