<% set_title "Item Specifications", prefix: "#{@item.code} " %>
<% set_width 12, 12 %>

<% content_for :controls do %>

	<div class="bottom-space">
		<%= form_tag(item_specs_path, :method => :get, :class => "form-inline") do %>
			<div class="form-group">

				<%= collection_select :item_spec, :item_id, @items, :id, :code, {:selected => @item_id}, {:onchange => "this.form.submit();", :class => "form-control inline-select"} %>
				
				<%= label_tag 'show_pending', :class => "checkbox" do %>
					<%= check_box_tag name = "show_pending", value = "1", checked = @pending, {:type => "checkbox", :onchange => "this.form.submit();"} %>
					Show pending
				<% end %>

				<%= label_tag 'show_history', :class => "checkbox" do %>				
					<%= check_box_tag name = "show_history", value = "1", checked = @history, {:type => "checkbox", :onchange => "this.form.submit();"} %>
					Show history
				<% end %>

				<%= label_tag 'show_deleted', :class => "checkbox" do %>				
					<%= check_box_tag name = "show_deleted", value = "1", checked = @deleted, {:type => "checkbox", :onchange => "this.form.submit();"} %>
					Show deleted
				<% end %>			

			</div>
		<% end %>
	</div>
<% end %>

<% content_for :thead do %>
	<div>				
		<th>Category</th>
		<th>Specification</th>		
		<th class="col-xs-2">Text</th>		
		<th>Value</th>
		<th>USL</th>
		<th>LSL</th>
		<th>UOM</th>		
		<th class="col-xs-1 hidden-md">Analysis</th>		
		<th class="col-md-1 col-lg-1">Eff Dt</th>	
		<th class="hidden-md">Status</th>		
		<th class="col-xs-1 hidden-md">Edited By</th>
		<th class="col-xs-1"></th>
	</div>
<% end %>

<!-- pass index the collection for the loop -->		
<% content_for :table do %>
	<%= render "item_specs/body/new" %>
	<%= render :partial => "item_specs/body/index", :collection => @item_specs, :as => :item_spec %>
<% end %>

<!-- pass multi_view the collection for the loop -->
<% content_for :multi_view do %>
	<div class="bottom-space">	
		<%= link_to "Add New Specification", new_item_spec_path, :class => "btn btn-default" %>	
	</div>
	<%= render :partial => "item_specs/body/multi_view", :collection => @item_specs, :as => :item_spec %>	
<% end %>
