<% set_title @item.code %>

<% content_for :controls do %>	
	
		<%= form_tag('item_specs', :method => :get, :class => "form-inline") do %>
			<div class="form-group"> 
				<%= collection_select :item_spec, :item_id, @items, :id, :code, {:selected => @item_id}, {:onchange => "this.form.submit();", :class => "form-control inline-select"} %>

				<%= label_tag 'hide_pending', :class => "checkbox" do %>
					<%= check_box_tag "hide_pending", "hide_pending", @hide_pending, :type => "checkbox" %>
					Hide future
				<% end %>

				<%= label_tag 'show_history', :class => "checkbox" do %>				
					<%= check_box_tag "show_history", "show_history", @show_history, :type => "checkbox" %>
					Show history
				<% end %>
				
				<%= submit_tag "Apply" %>

			</div>
		<% end %>
	
<% end %>

<% content_for :thead do %>	
	<div class="col-xs-1">		
		<th>Category</th>
		<th>Specification</th>
	</div>
	<th class="col-xs-2">Text</th>
	<th class="col-xs-2">Multi-Line Text</th>
	<div class="col-xs-3">
		<th>Value</th>
		<th>USL</th>
		<th>LSL</th>
		<th>UOM</th>
	</div>
	<th class="col-xs-1">Analysis</th>
	<div class="col-xs-1">
		<th>Eff Dt</th>	
		<th>Status</th>
	</div>
	<th class="col-xs-1">Edited By</th>
	<th class="col-xs-1"></th>
<% end %>
		
<% content_for :table do %>
	<%= render "item_specs/body/new" %>
	<!-- pass index the collection for the loop -->
	<%= render :partial => "item_specs/body/index", :collection => @item_specs, :as => :item_spec %>
<% end %>

<% content_for :multi_view do %>
	<!-- pass multi_view the collection for the loop -->
	
	<%= render :partial => "item_specs/body/multi_view", :collection => @item_specs, :as => :item_spec %>
	
<% end %>
