<% set_title "#{@item_spec.item.code}:#{@item_spec.trait.code}", prefix: "Notes for " %>

<% set_width(6, 10) %>

<%= form_for(@item_spec) do |f| %>
	<div class="form-group">		
		<%= f.label "Notes" %>
		<%= f.text_area :notes, :class => "form-control" %>
	</div>
	
	<div class="actions">
		<%= f.submit "Update Notes", :class => "btn btn-primary" %>
		<%= f.submit "Cancel", :class => "btn btn-default" %>
	</div>
<% end %>	
