<% set_title "Import Data" %>

<% set_width(10, 12, false) %>

       
<%= form_for @import, :html=>{:multipart=>true} do |f| %>

  <ul class="list-unstyled list-inline">
    <li><div class="badge">1</div></li>
    <li><h4><small> Select Target Table</small></h4></li>
  </ul>
    
  <div class="form-group">       
    <%= f.label 'import into' do %>
      Import into <%= f.select :model, Import::MODELS.sort, {:selected => @model}, :include_blank => '--- Select Table ---', :class => "form-control"  %>
    <% end %>
  </div>

  <hr>

  <ul class="list-unstyled list-inline">
    <li><div class="badge">2</div></li>    
    <li><h4><small> Select File</small></h4></li>
  </ul>

  <div class="form-group" >   
    <%= f.label 'upload file' do %>
      <%= file_field_tag :file %>
    <% end %>
  </div>
  <hr>

  <ul class="list-unstyled list-inline">
    <li><div class="badge">3</div></li>
    <li><h4><small> Load Content for Mapping</small></h4></li>
  </ul>

  <div class="form-group">        	
    <%= submit_tag 'Continue', :name => 'import_file', :class => "btn btn-primary" %>	    
  </div>

<% end %>

<hr>

<%= render 'imports/formats' %>



