<% if tenant_set? && current_user %>
	
	<% if can? :display, Specification %>
		<li><%= link_to_unless_current( "Floor Display", { controller: "/specifications", action: "display" }) { } %></li>
	<% end %>

	<% if can? :view, :all %>
		<li><%= link_to_unless_current( "Specifications", { controller: "/specifications"}) { } %></li>
		<li>
			<%= link_to 'Setup <b class="caret caret-header"></b>'.html_safe, root_path, :id => 'dLeftLabel', :'data-toggle' => 'dropdown', :class => 'dropdown-toggle' %> 
			<ul class="dropdown-menu" role="menu" aria-labelledby="dleftLabel"> 
				<li><%= link_to_unless_current( "Traits", { controller: "/traits"}) { } %></li>
				<li><%= link_to_unless_current( "Items", {controller: "/items"}) { } %></li>
				<li><%= link_to_unless_current( "Categories", { controller: "/categories"}) { } %></li>
				<li><%= link_to_unless_current( "Analysis", { controller: "/analyses"}) { } %></li>
				<li><%= link_to_unless_current( "Import Data", { controller: "/imports", action: "new"}) { } %></li>
			</ul>
		</li>				
	<% end %>
<% end %>