<!-- loop implied by collection passed from index -->

<div class="panel panel-default">
	<div class="panel-heading">				
		<strong class="panel-title text-muted">
			<div class="row">
				<div class="<%= specification.eff_status %> col-xs-4"><%= specification.property.code %></div>
				<div class="<%= specification.eff_status %> col-xs-4"><%= specification.eff_status %></div>
				<div class="<%= specification.eff_status %> col-xs-4 text-right"><%= specification.eff_date %></div>
			</div>
		</strong>
	</div>

	<div class="panel-body">
				
		<div>	
			<% if specification.text_value != "" %>							
				<h4 class="<%= specification.eff_status %> col-xs-12 col-sm-4"><%= specification.text_value %></h4>				
			<% end %>

			<% if specification.lsl %>				
					<p class="<%= specification.eff_status %> col-xs-2 text-left"><%= specification.lsl %></p>				
			<% end %>	
	
			<% if specification.numeric_value %>				
				<h4 class="<%= specification.eff_status %> col-xs-6 text-center"><%= specification.numeric_value %></h4>				
			<% end %>

			<% if specification.usl %>				
				<p class="<%= specification.eff_status %> col-xs-2 text-right"><%= specification.usl %></p>				
			<% end %>

			<% if specification.unit_of_measure != "" %>				
					<p class="<%= specification.eff_status %> col-xs-2"><%= specification.unit_of_measure %></p>				
			<% end %>
		</div>
	</div>

		<div class="panel-footer">
			<div class="btn-group">
			
				<% if specification.eff_status == 'current' %>
					<%= link_to "Edit", edit_specification_path(specification), :class=>"btn btn-default" %>
					<%= link_to "Delete",  specification, :class=>"btn btn-default", :method => :delete, :confirm => "Delete #{specification.property.code} specification for #{specification.item.code}" %>
					
				<% elsif specification.eff_status == 'pending' %>
					<%= link_to "Delete", cancel_specification_path(specification), :class=>"btn btn-default", :confirm => "Delete pending update of #{specification.property.code} specification for #{specification.item.code}" %>				
				<% end %>
				
				<%= link_to "Notes", notes_path(specification), :class=>"btn btn-default" %>
			</div>
		</div>
	
			
</div>


