<tr>
	<%= form_for(@new_specification) do |f| %>
		<div class="form-group">
			<% if @list_for_an_item %>
				<td></td>
				<td><%= f.collection_select :trait_id, @available_traits, :id, :code, {:prompt => "Select"}, :class => "form-control input-sm" %></td>
				<%= f.hidden_field :item_id, :value => @item.id %>
			<% else %>
				<td><%= f.collection_select :item_id, @items, :id, :code, {:prompt => "Select"}, :class => "form-control input-sm" %></td>
				<td></td>
				<%= f.hidden_field :trait_id, :value => @trait.id %>
			<% end %>
			<td><%= f.text_field :string_value, :class => "form-control input-sm" %></td>			
			<td><%= f.text_field :numeric_value, :class => "form-control input-sm" %></td>
			<td><%= f.text_field :usl, :class => "form-control input-sm" %></td>
			<td><%= f.text_field :lsl, :class => "form-control input-sm" %></td>
			<td><%= f.text_field :unit_of_measure, :class => "form-control input-sm" %></td>		
			<td><%= f.collection_select :analysis_id, Analysis.all, :id, :code, {:prompt => :true}, :class => "form-control input-sm" %></td>
			<td class="hidden-md"><%= f.text_field :eff_date, 'data-behaviour' => 'datepicker', :class => "form-control input-sm" %></td>
			<td class="hidden-md"></td>			
			<td class="hidden-md"></td>
			<td><%= f.submit "Add Specification", :class => "btn btn-default btn-sm" %></td>
		</div>
	<% end %>
</tr>

