<% set_title "Welcome!" %>

<div class="container-fluid">
	<div class="row-fluid">		
			<div class="hero-unit span6 offset3 hero-block">
				<div class="text-center"><%= image_tag("icons/factory_white.svg", :alt=>"Factory", :size=>"66x60", :alt => "Main", :id => "factory") %></div>
				<div class="text-center"><h1>Welcome to <span class="logo-font">FactorySync</span></h1></div>
				<p class ="lead text-center"><strong>A single source for your factory data...</strong></p>
				<p>Store all of the information needed by the people on the factory floor to do their jobs in a single, well organized location.
					Enable anyone you want to edit and add to the information from any computer with web access, and display it in real time on the factory floor.</p>
			</div>
		
	</div>
	<div class="row-fluid">
		<div class="span6 offset3">
			<% if user_signed_in? %>				
				<li class="text-center">
					<%= link_to("Logout: #{current_user.email}", main_app.destroy_user_session_path, :method => :get) %>
					<%= link_to('Edit Registration', main_app.edit_user_registration_path, :class => "nav") %>
				</li>	  	     
			<% else %>
				<%= form_for("user", :url => main_app.user_session_path, :html => {:class => "form-inline"}) do |f| %>
					
					<div class="text-center">
						<%= f.text_field :email, :placeholder => "email", :class => "input-small" %>
					  <%= f.password_field :password, :placeholder => "password", :class => "input-small" %>
					  <%= f.submit 'Sign in' %>
					  <%= link_to('Register', main_app.new_user_registration_path, :class => "nav pull-right", :style => "padding-left:10px")  %>
					</div>

				<% end %>
			<% end %>
		</div>
	</div>
</div>
