<% set_title "#{@copy_item.code}", prefix: "Copy " %>

<% set_width(6, 10) %>

<%= form_for @new_item do |f| %>
	<div class="row">
		<%= f.label :code, "Code", :class => "field_label" %>
		<%= f.text_field :code, :class => "text_field" %>
	</div>
		
	<div class="row bottom-space">
		<%= f.label :name, "Name", :class => "field_label" %>
		<%= f.text_field :name, :class => "text_field" %>
	</div>

	<div class="row bottom-space">
		<%= label_tag "Include Specs", :class => "checkbox" do %>
			Include All Specs
			<%= check_box_tag "include_specs", :class => "checkbox" %>
		<% end %>
	</div>

		<%= hidden_field_tag 'copy_item_id', @copy_item.id %>

	<div class="row">
		<%= f.submit "Update", :class => "btn btn-primary" %>
		<%= link_to 'Cancel', items_path, :class => "btn btn-default" %>
	</div>

<% end %>	


