<% set_title "Items" %>

<% set_width 8, 10 %>

<% content_for :thead do %>
		<tr>
			<th>Item Code</th>
			<th>Name</th>
			<th colspan="2"></th>
			<th class="col-md-1 center-block">						
				<%= link_to raw('<div class="glyphicon glyphicon-trash"></div>'), "#", :onclick => "$('.bulk_delete').submit()" %>				
			</th>
		</tr>
<% end %>

<% content_for :table do %>
	<%= render 'new' %>

	<%= form_tag bulk_delete_items_path, :method => :bulk_delete, :class => "bulk_delete" do %>
		<% @items.each do |i| %>
			<tr>
				<td><%= link_to i.code, specifications_path(i) %></td>
				<td><%= i.name %></td>
				<td><%= link_to "Edit", edit_item_path(i), :class => "pull-left" %></td>
				<td><%= link_to "Copy", copy_item_path(i), :method => :copy, :class => "pull-right" %></td>
				<td><div class="center-block"><%= check_box_tag "deletions[]", i.id %></div></td>				
			</tr>
		<% end %>
	<% end %>
<% end %>

<% content_for :multi_view do %>
	<% @items.each do |i| %>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">				
					<strong class="panel-title text-muted"><%= i.code %></strong>
				</div>

				<div class="panel-body">						
					<div>
						<p class="text-muted col-xs-5">Name</p>
						<h4 class="col-xs-7"><%= i.name %></h4>
					</div>
				</div>
				<div class="panel-footer">
					
						<%= link_to "Edit", edit_item_path(i), :class => "btn btn-primary" %>
						
				</div>
				
			</div>
		</div>
	<% end %>
<% end %>