	
	<tr class="<%= item_spec.eff_status %>">
		<% if @list_for_an_item %>
			<% if item_spec.trait.category %>
				<td><%= item_spec.trait.category.code %></td>
			<% else %>
				<td></td>
			<% end %>
			<td><%= item_spec.trait.code %></td>
		<% else %>
			<td><%= link_to item_spec.item.code, item_specs_path(:list_for => "item", :item_spec => {:item_id => item_spec.item.id})	%></td>
			<td><%= item_spec.item.name	%></td>
		<% end %>		
		<td><%= item_spec.string_value %></td>
		
		<td><%= item_spec.numeric_value %></td>
		<td><%= item_spec.usl %></td>
		<td><%= item_spec.lsl %></td>
		<td><%= item_spec.unit_of_measure %></td>
		
		<td class="hidden-md"><%= item_spec.analysis.code if item_spec.analysis %></td>
		<td><%= item_spec.eff_date %></td>
		
		<td class="hidden-md"><%= item_spec.eff_status %></td>
		<td class="hidden-md"><%= item_spec.changed_by %></td>
		<td class="centered">
			<% if item_spec.eff_status == 'current' %>
				<%= link_to "Edit", edit_item_spec_path(item_spec) %>
				<%= link_to "Delete",  item_spec, :method => :delete, :confirm => "Delete #{item_spec.trait.code} specification for #{item_spec.item.code}" %>
				<%= link_to "Copy", copy_item_spec_path(item_spec), :action => :copy %>

			<% elsif item_spec.eff_status == 'pending' %>
				<%= link_to "Delete", cancel_item_spec_path(item_spec), :confirm => "Delete pending update of #{item_spec.trait.code} specification for #{item_spec.item.code} " %>
				<%= link_to "Copy", copy_item_spec_path(item_spec), :action => :copy %>				
			<% end %>
			
			<%= link_to "Notes", notes_path(item_spec) %>
		</td>
	</tr>	

