<!-- loop implied by collection passed from index -->

<% if ((item_spec.date_status == 'past' || 
	item_spec.date_status == 'deleted' ||
	item_spec.date_status == 'unused') && @show_history) || 
	(item_spec.date_status == 'pending' && !@hide_pending) ||
	(item_spec.date_status == 'canceled' && !@hide_pending) ||
	item_spec.date_status == 'current' %>
	

	<div class="<%= item_spec.date_status %> row row-multi-view">

		<div class="row">
			
			<p class="col-xs-4"><%= item_spec.trait.code %></p>

			<div class="col-xs-8">
				<% if item_spec.date_status == 'current' %>
					<%= link_to "Edit", edit_item_spec_path(item_spec), :class => "col-xs-4" %>
					<%= link_to "Delete",  item_spec, :method => :delete, :confirm => "Delete #{item_spec.trait.code} specification for #{item_spec.item.code}", :class => "col-xs-4" %>
					
				<% elsif item_spec.date_status == 'pending' %>
					<%= link_to "Delete", cancel_item_spec_path(item_spec), :confirm => "Delete pending update of #{item_spec.trait.code} specification for #{item_spec.item.code}", :class => "col-xs-4 col-xs-offset-4" %>				
				<% end %>
				
				<%= link_to "Notes", notes_path(item_spec), :class => "col-xs-4" %>
			</div>
		</div>
		<div class="row">
			
			<% if item_spec.string_value != "" %>							
				<strong class="col-xs-12"><%= item_spec.string_value %></strong>				
			<% end %>

			<% if item_spec.lsl %>				
					<p class="col-xs-2 text-left"><%= item_spec.lsl %></p>				
			<% end %>	
	
			<% if item_spec.numeric_value %>				
				<strong class="col-xs-2 text-center"><%= item_spec.numeric_value %></strong>				
			<% end %>

			<% if item_spec.usl %>				
				<p class="col-xs-2 text-right"><%= item_spec.usl %></p>				
			<% end %>

			<% if item_spec.unit_of_measure != "" %>				
					<p class="col-xs-2"><%= item_spec.unit_of_measure %></p>				
			<% end %>
		
		</div>		
		
	</div>

<% end %>