<% set_title "Categories" %>
<% set_width(6, 10, false) %>

<% content_for :thead do %>
	<tr>
		<th>Code</th>
		<th>Name</th>
		<th></th>
		<th class="col-md-1 center-block">						
			<%= link_to raw('<div class="glyphicon glyphicon-trash"></div>'), "#", :onclick => "$('.bulk_delete').submit()" %>				
		</th>
	</tr>
<% end %>

<% content_for :table do %>

	<tr>
		<%= render 'new' %>
	</tr>	

	<%= form_tag bulk_delete_categories_path, :method => :bulk_delete, :class => "bulk_delete" do %>
		<% @categories.each do |c| %>
			<%= content_tag_for(:tr, c, class: "sortable") do %>
				<td><%= c.code %></td>
				<td><%= c.name %></td>				
				<td><div class="center-block"><%= link_to "Edit", edit_category_path(c) %></div></td>
				<td><div class="center-block"><%= check_box_tag "deletions[]", c.id %></div></td>				
			<% end %>
		<% end %>
	<% end %>		
<% end %>	

<% content_for :multi_view do %>
	<% @categories.each do |c| %>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">				
					<strong class="panel-title text-muted"><%= c.code %></strong>
				</div>

				<div class="panel-body">						
					<div>
						<p class="text-muted col-xs-5">Name</p>
						<h4 class="col-xs-7"><%= c.name %></h4>
					</div>
				</div>
				<div class="panel-footer">
					
						<%= link_to "Edit", edit_category_path(c), :class => "btn btn-primary" %>
					
				</div>
				
			</div>
		</div>
	<% end %>
<% end %>

