
	<div class="row-fluid">
		<div class="span<%= @span %>">	
		<h4 class="title"><%= @title %></h4>
		<div class="controls">
			<%= yield :controls %>
		</div>
		
		<% unless list.blank? %>
			<%= will_paginate list, :renderer => BootstrapPagination::Rails %>
		<% end %>

		<table class="table table-striped">
			<thead>
				<%= yield :thead %>
			</thead>
			<tbody>
				<%= yield :table %>
			</tbody>
		</table>

		<% unless list.blank? %>
			<%= will_paginate list, :renderer => BootstrapPagination::Rails %>
		<% end %>

		<%= yield :footer %>

	</div>

	</div>


