<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= yield(:title) %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  
  <body class="<%= @body_class || "normal" %>">    
    <div id="main" role="main">     
      <%= content_tag :div, :class => @container do %> <!--! either "container-liquid" or "container" -->      
        <%= content_tag :div, :class => @width do %> <!--! either "full-fluid" or "...hidden-sm col-md-n..." -->

          <%= render 'layouts/body/header_layout' if @menu %>  

          <div class="row">                        
            <%= render 'layouts/body/title_layout' if @title %>
            <%= render :partial => 'layouts/body/table_layout', :object => @index, :as => :index if @is_table %>
            <!--! rendered table_layout --> 
            <%= render :partial => 'layouts/body/list_layout', :object => @list, :as => :list if @is_list %>
            <!--! rendered list_layout -->  
            <%= yield %>      
          </div>

          <footer class="row">
            <%= yield(:footer) %>
          </footer>  
        
        <% end %>
       <!--! end of .container -->
      <% end %>
    </div> <!--! end of #main -->
  </body>
</html>
